<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huchenyuan.mybatismysql.mappers.MyBatisMysqlMapper">
    <resultMap type="com.huchenyuan.mybatismysql.entity.MybatisMysql" id="mysqlResultMap">
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="createdAt" property="createdAt" />
    </resultMap>

<insert id="insert"  parameterType="com.huchenyuan.mybatismysql.entity.MybatisMysql">
        insert into mybatis_mysql(id, name, created_at)
        values (#{mybatisMysql.id}, #{mybatisMysql.name}, #{mybatisMysql.createdAt})
    </insert>
</mapper>
